<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basketball"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".BasketballActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EquiposActivity"></activity>
        <activity android:name=".EquipoManejadorActivity"></activity>
        <activity android:name=".JugadoresActivity"></activity>
        <activity android:name=".PartidoManagerActivity"></activity>
        <activity android:name="PartidoJugadorActivity"></activity>
        <activity android:name="PartidoActivity"></activity>
        <activity android:name=".JugadorManejadorActivity"></activity>
        <activity android:name=".GameManejadorActivity"></activity>
    </application>

</manifest>